
body {
  font-family: "Calisto MT";

}

.header {
  overflow: hidden;

  padding: 0px 10px;
  position: relative;

}

a {
  text-decoration: none;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  padding: 10px 40px 10px 40px;
  font-family: "Calisto MT";
  z-index: 9999;

}

.header a.name {

  padding: 20px 20px 20px 20px;
  font-size: 20px;
  font-weight: bold;

}

.header a.name:hover {
  background-color: #ddd;
  color: black;
}


.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  padding-top: 15px;
  padding-left: 40px;
}

.onHover:hover {
  background-color: #ddd;
  color: black;
}


.card {

  color: black;
  padding: 5rem;
  height: 25rem;
  font-size: 15px;
  overflow: hidden;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  align-items: center;
}


.box {
  width: 100%;
  height: 100%;
  alignment: center;


}

.box table {
  border-spacing: 50px;
  alignment: center;
}

.box table, .box th, .box td {
  width: 40%;
  line-height: 50px;

}

.box th {
  border-top: 1px solid black;
  font-size: 30px;
  text-align: center;
}

.box tr {
  text-align: center;
  font-size: 20px;
}


.headline {
  font-size: 50px;
  padding-left: 80px;
  padding-top: 50px;
  line-height: 70px;
  text-align: center;
}
* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li:hover {
  background-color: #eee;
}



#modal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none;
}

#modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#modal-content h2 {
  margin-top: 0;
}

#modal-content label {
  display: block;
  margin-bottom: 10px;
}

#modal-content input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#modal-content button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#modal-content button[type="submit"]:hover {
  background-color: #0069d9;
}

#modal-content button[type="button"] {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

#modal-content button[type="button"]:hover {
  background-color: #ddd;
}


.footer {
  background-color: white;
  height: 65px;
  width: 100%;
  margin-top: 50px;
  display: block;
  position: absolute;
}


.footer-left p {
  font-family: "mistral";
  font-size: 20px;
  color: black;
  padding-left: 15px;
  float: left;
  opacity: 0.9;
  opacity: 0.8;
}

.login-panel {
  alignment: center;
}

.new-user-panel {
  width: 100%;
  text-align: center;
}

.footer-end {
  color: black;
  padding-left: 300px;
  padding-top: 20px;
  float: left;
  opacity: 0.8;
}

.footer-right {
  color: black;
  font-size: 20px;
  padding-top: 20px;
  padding-right: 30px;
  font-family: "eras demi itc";

  float: right;
  opacity: 0.8;
}
